<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Ashiquzzaman Khan">
        <title>Facebook Post Scrapper</title>
        <!-- Bootstrap core CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    <body style="background-color: #222222;">
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../static/js/jquery.min.js"></script>
        <div class="container">
            <form action="{{ url_for('progress') }}" method="POST" enctype="multipart/form-data">
            <div class="row" style="color: #ffffff; text-align: center; align-items: center; justify-content: center;">
                <!-- header -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h2>Scrapper</h2>
                </div>
                <!-- separator -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <hr />
                </div>
                <!-- GO to userprofile -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <button type="button" class="btn btn-light" onclick="window.location.href='{{ url_for('userprofile') }}';">Go To User Profile</button>
                </div>
                <!-- separator -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <hr />
                </div>
                <!-- Select a user profile -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 1%; margin-bottom: 1%;">
                    <div class="form-group">
                        <label for="formcontrolselections">Select a Profile</label>
                        <select class="form-control" id="formcontrolselections" name="selections">
                            <option value="None">None</option>
                            {% for j in _user_data %}
                                <option value="{{ j['user'] }}">{{ j["user"] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <!-- show its data -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <label>OS : </label>
                            <label id="os"></label>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <label>Browser : </label>
                            <label id="browser"></label>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 1%; margin-bottom: 1%;">
                    <div class="row" style="justify-content: center;">

                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

                        </div>

                    </div>
                </div>

                <!-- Post Link Radio Button Group -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 1%; margin-bottom: 1%;">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-secondary active" id="postLink">
                            <input type="radio" name="postlink" value="postLink1" autocomplete="off" checked="">&nbsp;Single Post Link
                        </label>
                        <label class="btn btn-secondary" id="postLink">
                            <input type="radio" name="postlink" value="postLink2" autocomplete="off">&nbsp;Multiple Post Link
                        </label>
                    </div>
                </div>
                <!-- POST LINK Fields -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row" style="justify-content: center;">
                        <!-- single post -->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="postLink1">
                            <input type="text" name="singlePost" class="form-control" placeholder="URL Link of the Post">
                        </div>
                        <!-- multiple post -->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="postLink2">
                            <div class="input-group mb-3 ">
                                <div class="custom-file justify-content-center">
                                    <input type="file" name="csvfile">
{#                                    <label class="custom-file-label" for="inputGroupFile01">Choose CSV file</label>#}
                                </div>
                            </div>
                        </div>

{#                        <input type="file" name="csvfile">#}

                    </div>
                </div>
                <!-- Scrap Button -->
                <div style="margin-top: 1%; margin-bottom: 1%;" class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                    <button type="submit" class="btn btn-light">Start Scrapping</button>
                </div>
                <!-- separator -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <hr />
                </div>
                <!-- Previous JOB Table -->
                <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12" style="margin-top: 1%;
    margin-bottom: 1%;">
                    <h6>Previous Scrapping Job</h6>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Post Link</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in _job_data %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>
                                    <a href={{ url_for('results', _jobs_id_list=[(i["_id"])]) }}>{{ i["Post"] }}</a>
                                </td>
                                <td>{{ i["DateStamp"] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </form>
        </div>
        <script src="../static/js/popper.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
        <script src="../static/js/index.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
            // get data from mongo
                var _data;
                req = $.ajax({
                    url: '/getuser',
                    type: 'GET',
                });
                req.done(function (data) {
                    _data = $.parseJSON(data);
                });

            // dropdown text matcher
                $("#formcontrolselections").change(function(){
                    for (let i = 0; i < _data.length; i++) {
                        if ($(this).val() == _data[i]["user"]){
                            $("label[id='os']").html(_data[i]["os"]);
                            $("label[id='browser']").html(_data[i]["browser"]);
                        } else if ($(this).val() == "None"){
                            $("label[id='os']").html("Not Available");
                            $("label[id='browser']").html("Not Available");
                        }
                    }
                });
            // hide and show post link
                var ps1 = $("div[id='postLink1']");
                var ps2 = $("div[id='postLink2']");
                ps1.show();
                ps2.hide();

                $("label[id='postLink']").click(function () {
                    var link = $(this).children().first().val();
                    if (link == "postLink1"){
                        ps1.show();
                        ps2.hide();
                    } else if (link == "postLink2"){
                        ps1.hide();
                        ps2.show();
                    }
                });
            });

            // file upload name changer
            $('#inputGroupFile01').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
        </script>
    </body>
</html>
