<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Ashiquzzaman Khan">
        <title>Progress</title>
        <!-- Bootstrap core CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    <body style="background-color: #222222; color: #ffffff;">
        <div class="container">
            <div class="row" style="justify-content: center;">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <h6>Progress</h6>
                </div>
                <div class="w-100 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <h6>{{ _task }}</h6>
                </div>
                <!-- Post -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    {% for p in _post %}
                        <div>
                            <input type="checkbox" class="form-check-input" id="postcheck" disabled>
                            <label class="form-check-label" for="postcheck">{{ p }}</label>
                        </div>
                        <div>
                            <input type="checkbox" class="form-check-input" id="likers" disabled>
                            <label class="form-check-label" for="likers">Likers</label>
                        </div>
                        <div>
                            <input type="checkbox" class="form-check-input" id="commenters" disabled>
                            <label class="form-check-label" for="commenters">Commenters</label>
                        </div>
                        <div>
                            <input type="checkbox" class="form-check-input" id="likings" disabled>
                            <label class="form-check-label" for="likings">Their Profile Likes</label>
                        </div>
                        <div class="w-100 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <hr />
                        </div>
                    {% endfor %}

                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <button type="button" class="btn btn-light" onclick="window.location.href='{{ url_for('index') }}';">Stop Scrapping</button>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../static/js/nanobar.min.js"></script>
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/popper.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
        <script type="text/javascript">
            // continous call to task status

        </script>
    </body>
</html>